.about {
  font-size: 18px;

  &__list {
    line-height: 1.5;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
  }

  &__list-item {

    &:before {
      content: '- ';
    }
  }

  &__text {
    line-height: 1.5;
  }
}
