.skills {

  &__list {
    list-style: none;
    padding: 0;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  &__level {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &__level-circle {
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #2f2f2f;
    border-radius: 50%;

    &_active {
      background: #2f2f2f;
    }
  }
}
