.about-full.wrapper.content__block
  h3.about-full__subheader В чём разбираюсь:
  ul.about-full__list
    li.about-full__list-item React и часть экосистемы
    li.about-full__list-item JavaScript ES6+
    li.about-full__list-item Сборщики проектов [Gulp/Webpack]
    li.about-full__list-item Семантическая отзывчивая (responsive) вёрстка [Pug/чистый html, SCSS/чистый CSS], компонентный подход [БЭМ, Styled Components, Astroturf], flex и CSS Grids так же в ходу
    li.about-full__list-item SEO [больше опыта во внутренней оптимизации, составлении семантического ядра и т.д.]
    li.about-full__list-item Работа с Figma и Photoshop [создание макетов/дизайна, вёрстка по представленному дизайну, ретушь фотографий]
    li.about-full__list-item WordPress и его экосистема [в прошлом]

  h3.about-full__subheader Дополнительно:
  ul.about-full__list
    li.about-full__list-item Intermediate English level [чтение документации, переписка. Устный разговор всё ещё не очень уверенно. EF SET 64/100 C1 Advanced]
    li.about-full__list-item Базовые знания Linux и консоли [стоит рабочей системой больше двух лет + периодическое использование в прошлом]
    li.about-full__list-item Базовые навыки по защите команды (части) от нападок со стороны бизнеса, продвижении предложений от команды по улучшению процесса разработки и т.д.