.about
  h2.about__title Bio

  ul.about__list
    li.about__list-item Санкт-Петербург
    li.about__list-item 26 лет
    li.about__list-item 4+ лет опыта работы в качестве Wordpress разработчика
    li.about__list-item Есть жена и кошка

  .about__text.
    Будучи фрилансером, я получил массу самого разногобразного опыта, начиная от SEO заканчивая фотографией и пост-обработкой. Сейчас активно закрываю пробелы в знаниях, продолжаю изучать React и его экосистему. Использую Pug/чистый html, SCSS, сборщики Gulp/Webpack, flex и CSS Grids так же в ходу. Хочу встретить Новый Год как уверенный middle developer, а для этого нужно много учиться и работать.