.about
  h2.about__title Bio

  ul.about__list
    li.about__list-item Санкт-Петербург
    li.about__list-item 26 лет
    li.about__list-item 4+ лет опыта работы в качестве Wordpress разработчика
    li.about__list-item 0.5 лет работы на Сбер, внутренний продукт
    li.about__list-item Есть жена и кошка

  .about__text.
    На фрилансе получил массу разнообразного опыта - SEO, UX, оптимизации быстродействия и скорости загрузки, типографика и прочее. На последней работе прокачал React и взаимодействие с формами, валидацией и т.д. Сейчас интересно продолжать интенсивную практику и обучение, жить на работе и получать необходимый опыт.