.afterwords
  .afterwords__inner.wrapper.content__block
    .afterwords__text Если вам понравилась эта страничка-резюме, вы можете форкнуть <a href="https://github.com/Darkonica/nonetype" target="_blank" rel="noreferrer">мой репозиторий</a> и использовать проект в любых целях.
    .afterwords__pdf
      a(href="/downloads/Vladimir_Novichikhin_CV.pdf" target="_blank") Скачать резюме в PDF