.afterwords
  .afterwords__inner.wrapper.content__block
    .afterwords__text.col-6 If you like this cute CV onepage you can fork <a href="https://github.com/Darkonica/nonetype" target="_blank">my repo</a> and use it as you wish
    .afterwords__pdf.col-5
      a(href="/downloads/Vladimir_Novichikhin_CV.pdf") Download CV