mixin link(src, text)
  li.first-screen__link
    a(href=src target="_blank" rel="noreferrer")= text

.first-screen.wrapper.content__block
  .first-screen__image
    img(src="/img/personal-photo.jpg", alt="")

  .first-screen__info
    h1.first-screen__title Vladimir Novichikhin
    h3.first-screen__description middle frontend developer

    ul.first-screen__links
      +link("https://github.com/darkonica", 'github')
      +link("https://t.me/darkonica", 'telegram')
      +link("https://www.linkedin.com/in/vladimir-novichikhin-71567812b", 'linkedin')
      +link("tel:+7 950 005-00-21", '+7 950 005-00-21')