mixin link(src, text)
  li.first-screen__link
    a(href=src)= text

.first-screen
  .first-screen__image
    img(src="", alt="")

  .first-screen__info
    h1.first-screen__title Vladimir Novichikhin
    h3.first-screen__description junior frontend developer

    .first-screen__links
      +link("http://github.com/darkonica", 'github')
      +link("http://github.com/darkonica", 'github')
      +link("http://github.com/darkonica", 'github')
      +link("http://github.com/darkonica", 'github')