.notfound.content__block
  .wrapper.notfound__wrapper
    h1.notfound__title 404
    p.notfound__text 
      | Ooops, что-то сломалось. Напишите мне, я поправлю ;) А резюме находится на 
      a(href="/") главной
