mixin project(title, text, links, image)
  .project
    .col-5
      .project__info
        h3.project__title= title
        .project__text= text
        .project__links
          each link in links
            a(href=link.link target="_blank").project__link= link.text

    .col-5
      .project__image
        img(src="/img/projects/" + image, alt="")

.projects.wrapper.content__block
  h2.projects__title Projects
  +project(
    'Grace Makeup',
    'Сайт для стилиста-визажиста с функционалом для проведения обучающих онлайн-курсов, личным кабинетом для участников и т.д. Дизайн и разработка.',
    [
      {
        'link': 'https://github.com',
        'text': 'github'
      },
      {
        'link': 'https://grace-makeup.ru',
        'text': 'website'
      }
    ],
    'grace-makeup.jpg'
  )
  +project(
    'Реф Юг',
    'Сайт для компании Реф Юг, занимающейся продажей промышленного холодильного оборудования. Старый проект, Wordpress с кастомной темой (без использования сторонних готовых тем). Дизайн и разработка.',
    [
      {
        'link': 'https://behance.com',
        'text': 'behance'
      },
      {
        'link': 'https://ref-ug.ru',
        'text': 'website'
      }
    ],
    'ref-ug.png'
  )
  +project(
    'Travel landing',
    'Обычный лендинг (больше просто главная страница, на самом деле) для освоения препроцессора Pug. Разработка, дизайн сторонний.',
    [
      {
        'link': 'https://github.com',
        'text': 'github'
      },
      {
        'link': 'https://travel-landing.nonetype.ru',
        'text': 'demo'
      }
    ],
    'travel-landing.jpg'
  )