mixin project(title, text, links, image)
  .project

    .project__info
      h3.project__title= title
      .project__text= text
      .project__links
        each link in links
          a(href=link.link target="_blank" rel="noreferrer").project__link= link.text
          
    .project__image
      img(src="/img/projects/" + image, alt="")

.projects.wrapper.content__block
  h2.projects__title Projects
  +project(
    'Grace Makeup',
    'Сайт для стилиста-визажиста. Старый проект, Wordpress с кастомной темой (без использования сторонних готовых тем). Дизайн и разработка.',
    [
      {
        'link': 'https://grace-makeup.ru',
        'text': 'website'
      }
    ],
    'grace-makeup.jpg'
  )
  +project(
    'Реф Юг',
    'Сайт для компании Реф Юг, занимающейся продажей промышленного холодильного оборудования. Старый проект, Wordpress с кастомной темой (без использования сторонних готовых тем). Дизайн и разработка.',
    [
      {
        'link': 'https://www.behance.net/gallery/52425549/REF-UG-website-(design-and-development)',
        'text': 'behance'
      },
      {
        'link': 'https://ref-ug.ru',
        'text': 'website'
      }
    ],
    'ref-ug.png'
  )
  +project(
    'Travel landing',
    'Обычный лендинг (больше просто главная страница, на самом деле) для освоения препроцессора Pug. Разработка, дизайн сторонний.',
    [
      {
        'link': 'https://github.com/darkonica/travel-landing',
        'text': 'github'
      },
      
    ],
    'travel-landing.jpg'
  )
  +project(
    'Exchange Converter',
    'Конвертер валют, React, Redux, Astroturf. Для тренировки.',
    [
      {
        'link': 'https://github.com/darkonica/currency-converter',
        'text': 'github'
      },
      
    ],
    'currency-converter.png'
  )
  +project(
    'Todo App',
    'Todo App на React и Redux, для тренировки',
    [
      {
        'link': 'https://github.com/darkonica/redux-todo',
        'text': 'github'
      },
      
    ],
    'todo-app.png'
  )