extends layout

block content
	include includes/first-screen
	.second-block.flex_between.wrapper.content__block
		.about-cont
			include includes/about
		.skills-cont
			include includes/skills

	include includes/projects
	include includes/afterwords