extends layout

block content
	include includes/first-screen
	.flex_between.wrapper.content__block
		.col-5
			include includes/about
		.col-5
			include includes/skills

	include includes/projects
	include includes/afterwords